[Unit]
Description=discourse sidekiq service
After=multi-user.target

[Service]
WorkingDirectory=/path/to/rails/app
Environment=RAILS_ENV=production
ExecStart=/path/to/rvm/.rvm/bin/systemd_bundle exec sidekiq -C config/sidekiq.yml
# You need to set your deployment user or your regular user
# if not sidekiq will be run as a root. Which could cause unexpected
# problems.
User=deploy
Group=deploy
UMask=0002
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
